/* app/styles/header.module.css */

.heroContent h1 {
  font-family: 'YourNewFont', sans-serif;
  font-size: clamp(42px, 7vw, 78px);
  font-weight: bold;
  margin: 0 3vh;
}

.hero {
  position: relative;
  height: 85vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Justera överläggets höjd beroende på om bakgrunden är en video */
.hero.video-background .overlay {
  height: 200%;
}

.hero.image-background .overlay {
  height: 100%;
}

.container {
  position: relative;
  text-align: center;
}

.mainMenuHeaderContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: center;
  margin-top: 2vh;
  margin-left: 3vh;
  margin-right: 3vh;
}

.logoHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logoHeader img {
  transition: transform 0.3s ease;
  max-width: 100%;
}

.logoHeader:hover img {
  transform: scale(1.07);
}

.logoText {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.mainMenu ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.mainMenu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease;
}

.mainMenu ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.mainMenu ul li a:hover {
  color: #fad46a;
}

.mainMenu ul li a:hover::after {
  width: 100%;
}

.heroContent h1,
.heroContent p {
  text-decoration: none;
  position: relative;
}

.heroContent {
  margin-top: 5em;
}

.heroContent h1 {
  font-size: clamp(32px, 7vw, 78px);
  font-weight: bold;
}

.slogan {
  font-size: 24px;
  font-weight: 300;
  color: #ffd86e;
  margin-top: 10px;
}

.mainMenuHeaderContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: center;
  margin-top: 2vh;
  margin-left: 3vh;
  margin-right: 3vh;
}

@media screen and (max-width: 500px) {
  .mainMenuHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .logoHeader img {
    width: 120px;
    height: auto;
  }

  .mainMenu ul {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  .mainMenu ul li a {
    font-size: 16px;
  }

  .hero {
    height: 65vh;
  }

  .slogan {
    font-size: 18px;
    color: #ffd86e;
    margin: 10px, 3vh;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .hero.video-background.overlay {
    height: 200%;
  }

  .hero.image-background .overlay {
    height: 100%;
  }
}
